<div class="az-sidebar">
  <div class="az-sidebar-header">
    <a href="javascript:void(0)" class="az-logo">
      <!-- <div style="background-color: #000;padding: 10px 48px;
        color: #fff;">P Cube</div> -->
      <img width="150" src="assets/pcube_logo.png" alt="logo" />
    </a>
  </div>
  <!-- az-sidebar-header -->
  <div class="az-sidebar-loggedin">
    <div class="az-img-user online">
      <img src="assets/images/img1.jpg" alt="" />
    </div>
    <div class="media-body">
      <h6>{{ userDetails?.name }}</h6>
      <span>{{ userDetails?.email }}</span>
    </div>
    <!-- media-body -->
  </div>
  <!-- az-sidebar-loggedin -->
  <div class="az-sidebar-body">
    <ul class="nav">
      <li class="nav-label">Main Menu</li>
      <li class="nav-item active show" [ngClass]="{ active: dashboard.isActive }">
        <a routerLink="/dashboard" routerLinkActive="active" #dashboard="routerLinkActive" class="nav-link">
          <i class="typcn typcn-clipboard"></i>Dashboard
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ active: customers.isActive }"
        *appPermissions="[MENU_PERMISSIONS?.CUSTOMER_MENUS]">
        <a routerLink="/customers" routerLinkActive="active" #customers="routerLinkActive" class="nav-link">
          <i class="icon ion-ios-people"></i>Customer
        </a>
      </li>

      <li class="nav-item" [ngClass]="{ active: suppliers.isActive }"
        *appPermissions="[MENU_PERMISSIONS?.SUPPLIER_MENUS]">
        <a routerLink="/suppliers" routerLinkActive="active" #suppliers="routerLinkActive" class="nav-link">
          <i class="icon ion-ios-person"></i>Suppliers
        </a>
      </li>

      <li class="nav-item" [ngClass]="{ active: products.isActive }"
        *appPermissions="[MENU_PERMISSIONS?.PRODUCT_MENUS]">
        <a routerLink="/products" routerLinkActive="active" #products="routerLinkActive" class="nav-link">
          <i class="far fa-check-circle"></i>Products
        </a>
      </li>

      <li class="nav-item" [ngClass]="{ active: orders.isActive }" *appPermissions="[MENU_PERMISSIONS?.ORDER_MENUS]">
        <a routerLink="/orders" routerLinkActive="active" #orders="routerLinkActive" class="nav-link">
          <i class="icon ion-ios-settings"></i>Orders
        </a>
      </li>

      <li class="nav-item " [ngClass]="{ 'active': Measurements.isActive }"
        *appPermissions="[MENU_PERMISSIONS?.CUSTOMER_MENUS]">
        <a routerLink="/measurements-list" routerLinkActive="active" #Measurements="routerLinkActive" class="nav-link">
          <i class="icon ion-ios-book"></i>Measurements
        </a>
      </li>

      <li class="nav-item" [ngClass]="{ active: users.isActive }" *appPermissions="[MENU_PERMISSIONS?.USER_MENUS]">
        <a routerLink="/users" routerLinkActive="active" #users="routerLinkActive" class="nav-link">
          <i class="icon ion-ios-person"></i>Users
        </a>
      </li>

      <!-- <li class="nav-item " [ngClass]="{ 'active': products.isActive }" *appPermissions=[MENU_PERMISSIONS?.ORDER_MENUS]>
        <a routerLink="/order-products" routerLinkActive="active" #products="routerLinkActive" class="nav-link">
          <i class="icon ion-ios-list"></i>Item List
        </a>
      </li>

      <li class="nav-item " [ngClass]="{ 'active': inventorys.isActive }" *appPermissions=[MENU_PERMISSIONS?.USER_MENUS]>
          <a routerLink="/inventorys" routerLinkActive="active" #inventorys="routerLinkActive" class="nav-link">
            <i class="icon ion-ios-stats"></i>Inventory
          </a>
      </li> -->

      <li class="nav-item" [ngClass]="{ active: storemanagers.isActive }"
        *appPermissions="[MENU_PERMISSIONS?.USER_MENUS]">
        <a routerLink="/storemanagers" routerLinkActive="active" #storemanagers="routerLinkActive" class="nav-link">
          <i class="icon ion-ios-people"></i>Store Managers
        </a>
      </li>

      <li class="nav-item" [ngClass]="{ active: supervisors.isActive }"
        *appPermissions="[MENU_PERMISSIONS?.USER_MENUS]">
        <a routerLink="/supervisors" routerLinkActive="active" #supervisors="routerLinkActive" class="nav-link">
          <i class="fa fa-tasks"></i>Supervisors
        </a>
      </li>

      <li class="nav-item" [ngClass]="{ active: tailors.isActive }"
        *appPermissions="[MENU_PERMISSIONS?.TAILORMG_MENUS]">
        <a routerLink="/tailors" routerLinkActive="active" #tailors="routerLinkActive" class="nav-link">
          <i class="fas fa-cut"></i>Tailors
        </a>
      </li>

      <li class="nav-item" [ngClass]="{ active: roles.isActive }" *appPermissions="[MENU_PERMISSIONS?.ROLE_MENUS]">
        <a routerLink="/roles" routerLinkActive="active" #roles="routerLinkActive" class="nav-link">
          <i class="typcn typcn-group-outline"></i>Roles
        </a>
      </li>


      <li class="nav-item " [ngClass]="{ 'active': Sales.isActive }"
        *appPermissions="[MENU_PERMISSIONS?.CUSTOMER_MENUS]">
        <a routerLink="/sales-employees" routerLinkActive="active" #Sales="routerLinkActive" class="nav-link">
          <i class="icon ion-ios-person"></i>Sales Employees
        </a>
      </li>

      <li class="nav-item " [ngClass]="{ 'active': SalesEmpReport.isActive }"
        *appPermissions="[MENU_PERMISSIONS?.CUSTOMER_MENUS]">
        <a routerLink="/report-sales-employees" routerLinkActive="active" #SalesEmpReport="routerLinkActive" class="nav-link">
          <i class="icon ion-ios-person"></i>Sales Employees Report
        </a>
      </li>

      <li class="nav-item" [ngClass]="{ active: onlinepayments.isActive }"
      *appPermissions="[['ORDER_CREATE']]">
        <a routerLink="/payments" routerLinkActive="active" #onlinepayments="routerLinkActive" class="nav-link">
          <!-- <i class="payment"></i>Online Payments -->
          <mat-icon>payment</mat-icon>Online-Payments
        </a>
      </li>

      <li class="nav-item" [ngClass]="{ active: tailorOrders.isActive }"
        *appPermissions="[MENU_PERMISSIONS?.TAILORORDER_MENUS]">
        <a routerLink="/tailor-orders" routerLinkActive="active" #tailorOrders="routerLinkActive" class="nav-link">
          <i class="fas fa-cut"></i>Store Orders
        </a>
      </li>
    </ul>
    <!-- nav -->
  </div>
  <!-- az-sidebar-body -->
</div>
<!-- az-sidebar -->
