<div class="product">
  <div class="row">
    <div class="col-md-2 d-flex align-items-center">
      <img
      *ngIf="product?.images !== null"
      src="{{ SERVER_PATH }}/storage/{{ product?.images }}"
      alt=""
      width="80"
      height="50"
    />
    <img
      *ngIf="product?.images == null"
      width="80"
      height="50"
      src="assets/images/blank-profile-picture.png"
      alt=""
    />
    </div>
    <div class="col-md-4 d-flex align-items-center">
      {{ product?.name }}
    </div>
    <div class="col-md-2 d-flex align-items-center">
      {{ product?.category.name }}
    </div>
    <div class="col-md-2 d-flex align-items-center">
      INR {{ product?.price }}
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <mat-form-field class="counter">
        <button mat-button mat-icon-button matPrefix (click)="decrement()">
          <mat-icon>remove</mat-icon>
        </button>
        <input
          matInput
          type="number"
          [(ngModel)]="qty"
          class="test"
          (keyup)="cartQty()"
        />
        <button mat-button mat-icon-button matSuffix (click)="increment()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>
</div>
