.form-check-label img{
  width:100px;
  height:100px;
}
h2{
  text-decoration: underline;
}
.form-check-label p {
  /* margin: 0px 0 0px; */
  text-align: center;
  margin-top: 0px;
  font-size: 18px;
}
.form-check-label .noimage{
  width:100px;
  height:90px;
  border: 1px solid black;
  margin-top: revert;
}
.shape {
  border:1px dotted #2980B9;
}
.shapes {
float: left;
}
/* .text-center{
  color:#BB8FCE;
} */


.rdiobox span:before {
  width: 36px;
  height: 36px;
}

label img {
  opacity: .6;
}
.rdiobox input[type=radio]:checked + span:before {
  background-color: #000;
}

.mdisplay {
  font-weight:500;
  color:black;
  border-radius: 0;
  border-color:#222;
  font-size: 32px;
  padding: 10px;
  min-height: 42px;
  border: solid 1px #222;
}
