
<div class="row">
  <div class="col">
    <button class="backButton" mat-raised-button (click)="goBack()" ><i class="typcn typcn-arrow-back"></i> Back</button>
  </div>
</div>

<div class="">
  <button type="button" color="primary" mat-flat-button (click)="convetToPDF()" >Download PDF</button>

  <!-- <input type="button" value="Convert" (click)="convetToPDF()"/> -->
  </div>
  <div id="content">
<form  name="form"  novalidate id="contentToConvert">

    <div class="row">
        <div class="col-4">
            <br /><br /><br />
            <h2 style="text-decoration: none;">Order ID : <span>PCO0{{ orderId }}</span></h2>
            <br />
        </div>

    </div>

      <div class="row" >
        <div class="col-md-6 shape">
            <div class="col-md-4 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="button1">
                      <input mdbRadio class="form-check-input" type="radio" name="button" id="button1"
                      value="1 button" [(ngModel)]="form.button"  #button="ngModel"
                    />
                        <span></span><img src="assets/10.png">
                        <p><b>1 BUTTON</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-4 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="button2">
                      <input mdbRadio class="form-check-input" type="radio" name="button" id="button2"
                      value="2 button" [(ngModel)]="form.button"  #button="ngModel"
                    />
                        <span></span><img src="assets/11.png">
                        <p><b>2 BUTTON</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-4 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="button3">
                      <input mdbRadio class="form-check-input" type="radio" name="button" id="button3"
                      value="double brusted" [(ngModel)]="form.button"  #button="ngModel"
                    />
                        <span></span><img src="assets/12.png">
                        <p><b>DOUBLE BRUSTED</b></p>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-6 shape">
          <div class="col-md-4 shapes">
              <div class="form-check form-check-inline">

                  <label class="form-check-label rdiobox" for="lapel1">
                    <input mdbRadio class="form-check-input" type="radio" name="lapel" id="lapel1"
                    value="peak lapel" [(ngModel)]="form.lapel"  #lapel="ngModel"
                  />
                      <span></span><img src="assets/13.png">
                      <p><b>PEAK LAPEL</b></p>
                  </label>
              </div>
          </div>
          <div class="col-md-4 shapes">
              <div class="form-check form-check-inline">

                  <label class="form-check-label rdiobox" for="lapel2">
                    <input mdbRadio class="form-check-input" type="radio" name="lapel" id="lapel2"
                    value="notch lapel" [(ngModel)]="form.lapel"  #lapel="ngModel"
                  />
                      <span></span><img src="assets/14.png">
                      <p><b>NOTCH LAPEL</b></p>
                  </label>
              </div>
          </div>
          <div class="col-md-4 shapes">
              <div class="form-check form-check-inline">

                  <label class="form-check-label rdiobox" for="lapel3">
                    <input mdbRadio class="form-check-input" type="radio" name="lapel" id="lapel3"
                    value="shawl lapel" [(ngModel)]="form.lapel"  #lapel="ngModel"
                  />
                      <span></span><img src="assets/15.png">
                      <p><b>SHAWL LAPEL</b></p>
                  </label>
              </div>
          </div>
      </div>
      </div>
      <div class="row" >
        <div class="col-md-6 shape">
            <div class="col-md-4 shapes" >
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="vent1">
                      <input mdbRadio class="form-check-input" type="radio" name="vent" id="vent1"
                      value="no vent" [(ngModel)]="form.vent"  #vent="ngModel"
                    />
                        <span></span><img src="assets/17.png">
                        <p><b>NO VENT</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-4 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="vent2">
                      <input mdbRadio class="form-check-input" type="radio" name="vent" id="vent2"
                      value="center vent" [(ngModel)]="form.vent"  #vent="ngModel"
                    />
                        <span></span><img src="assets/18.png">
                        <p><b>CENTER VENT</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-4 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="vent3">
                      <input mdbRadio class="form-check-input" type="radio" name="vent" id="vent3"
                      value="side vent" [(ngModel)]="form.vent"  #vent="ngModel"
                    />
                        <span></span><img src="assets/19.png">
                        <p><b>SIDE VENT</b></p>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-6 shape">
          <div class="col-md-4 shapes">
              <div class="form-check form-check-inline">

                  <label class="form-check-label rdiobox" for="pocket1">
                    <input mdbRadio class="form-check-input" type="radio" name="pocket" id="pocket1"
                  value="slant pocket" [(ngModel)]="form.pocket"  #pocket="ngModel"
                  />
                      <span></span><img src="assets/20.png">
                      <p><b>SLANT POCKET</b></p>
                  </label>
              </div>
          </div>
          <div class="col-md-4 shapes">
              <div class="form-check form-check-inline">

                  <label class="form-check-label rdiobox" for="pocket2">
                    <input mdbRadio class="form-check-input" type="radio" name="pocket" id="pocket2"
                  value="straight pocket" [(ngModel)]="form.pocket"  #pocket="ngModel"
                  />
                      <span></span><img src="assets/21.png">
                      <p><b>STRAIGHT POCKET</b></p>
                  </label>
              </div>
          </div>
          <div class="col-md-4 shapes">
              <div class="form-check form-check-inline">

                  <label class="form-check-label rdiobox" for="pocket3">
                    <input mdbRadio class="form-check-input" type="radio" name="pocket" id="pocket3"
                  value="patch pocket" [(ngModel)]="form.pocket"  #pocket="ngModel"
                  />
                      <span></span><img src="assets/22.png">
                      <p><b>PATCH POCKET</b></p>
                  </label>
              </div>
          </div>
      </div>
      </div>
      <div class="row" >
        <div class="col-md-2 shape">
            <div class="col-md-12">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="jodhpuri">
                      <input mdbRadio class="form-check-input" type="radio" name="jodhpuri" id="jodhpuri"
                      value="jodhpuri" [(ngModel)]="form.jodhpuri"  #jodhpuri="ngModel"
                    />
                        <span></span><img src="assets/16.png">
                        <p><b>JODHPURI</b></p>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 shape">
            <div class="col-md-6 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="type1">
                      <input mdbRadio class="form-check-input" type="radio" name="type" id="type1"
                    value="regular" [(ngModel)]="form.type"  #type="ngModel"
                    />
                        <span></span><img src="assets/23.png">
                        <p><b>REGULAR</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-6 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="type2">
                      <input mdbRadio class="form-check-input" type="radio" name="type" id="type2"
                    value="functional" [(ngModel)]="form.type"  #type="ngModel"
                    />
                        <span></span><img src="assets/24.png">
                        <p><b>FUNCTIONAL</b></p>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-3 shape">
          <div class="col-md-6 shapes">
              <div class="form-check form-check-inline">

                  <label class="form-check-label rdiobox" for="pleat1">
                    <input mdbRadio class="form-check-input" type="radio" name="pleat" id="pleat1"
                    value="no pleat" [(ngModel)]="form.pleat"  #pleat="ngModel"
                  />
                      <span></span><img src="assets/25.png">
                      <p><b>NO PLEAT</b></p>
                  </label>
              </div>
          </div>
          <div class="col-md-6 shapes">
              <div class="form-check form-check-inline">

                  <label class="form-check-label rdiobox" for="pleat2">
                    <input mdbRadio class="form-check-input" type="radio" name="pleat" id="pleat2"
                    value="2 pleat" [(ngModel)]="form.pleat"  #pleat="ngModel"
                  />
                      <span></span><img src="assets/26.png">
                      <p><b>2 PLEAT</b></p>
                  </label>
              </div>
          </div>
        </div>
        <div class="col-md-3 shape">
          <div class="col-md-6 shapes">
              <div class="form-check form-check-inline">

                  <label class="form-check-label rdiobox" for="pocket_type1">
                    <input mdbRadio class="form-check-input" type="radio" name="pocket_type" id="pocket_type1"
                    value="cross pocket" [(ngModel)]="form.pocket_type"  #pocket_type="ngModel"
                  />
                      <span></span><img src="assets/27.png">
                      <p><b>CROSS POCKET</b></p>
                  </label>
              </div>
          </div>
          <div class="col-md-6 shapes">
              <div class="form-check form-check-inline">

                  <label class="form-check-label rdiobox" for="pocket_type2">
                    <input mdbRadio class="form-check-input" type="radio" name="pocket_type" id="pocket_type2"
                    value="side pocket" [(ngModel)]="form.pocket_type"  #pocket_type="ngModel"
                  />
                      <span></span><img src="assets/28.png">
                      <p><b>SIDE POCKET</b></p>
                  </label>
              </div>
          </div>
      </div>
      </div>
      <div class="row" >
        <div class="col-md-3 shape">
            <div class="col-md-6 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="back_pocket1">
                      <input mdbRadio class="form-check-input" type="radio" name="back_pocket" id="back_pocket1"
                      value="1 back pocket" [(ngModel)]="form.back_pocket"  #back_pocket="ngModel"
                    />
                        <span></span><img src="assets/29.png">
                        <p><b>1 BACK POCKET</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-6 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="back_pocket2">
                      <input mdbRadio class="form-check-input" type="radio" name="back_pocket" id="back_pocket2"
                      value="2 back pocket" [(ngModel)]="form.back_pocket"  #back_pocket="ngModel"
                    />
                        <span></span><img src="assets/30.png">
                        <p><b>2 BACK POCKET</b></p>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-3 shape">
            <div class="col-md-6 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="shape1">
                      <input mdbRadio class="form-check-input" type="radio" name="shape" id="shape1"
                      value="shoe shape" [(ngModel)]="form.shape"  #shape="ngModel"
                    />
                        <span></span><img src="assets/31.png">
                        <p><b>SHOE SHAPE</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-6 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="shape2">
                      <input mdbRadio class="form-check-input" type="radio" name="shape" id="shape2"
                      value="turn up" [(ngModel)]="form.shape"  #shape="ngModel"
                    />
                        <span></span><img src="assets/32.png">
                        <p><b>TURN UP</b></p>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-3 shape">
          <div class="col-md-6 shapes">
              <div class="form-check form-check-inline">

                  <label class="form-check-label rdiobox" for="cut_way1">
                    <input mdbRadio class="form-check-input" type="radio" name="cut_way" id="cut_way1"
                    value="full cut way" [(ngModel)]="form.cut_way"  #cut_way="ngModel"
                  />
                      <span></span><img src="assets/33.png">
                      <p><b>FULL CUT WAY</b></p>
                  </label>
              </div>
          </div>
          <div class="col-md-6 shapes">
              <div class="form-check form-check-inline">

                  <label class="form-check-label rdiobox" for="cut_way2">
                    <input mdbRadio class="form-check-input" type="radio" name="cut_way" id="cut_way2"
                    value="semi cut way" [(ngModel)]="form.cut_way"  #cut_way="ngModel"
                  />
                      <span></span><img src="assets/34.png">
                      <p><b>SEMI CUT WAY</b></p>
                  </label>
              </div>
          </div>
      </div>
      <div class="col-md-3 shape">
          <div class="col-md-6 shapes">
              <div class="form-check form-check-inline">

                  <label class="form-check-label rdiobox" for="collar_type1">
                    <input mdbRadio class="form-check-input" type="radio" name="collar_type" id="collar_type1"
                    value="wing collar" [(ngModel)]="form.collar_type"  #collar_type="ngModel"
                  />
                      <span></span><img src="assets/35.png">
                      <p><b>WING COLLAR</b></p>
                  </label>
              </div>
          </div>
          <div class="col-md-6 shapes">
              <div class="form-check form-check-inline">

                  <label class="form-check-label rdiobox" for="collar_type2">
                    <input mdbRadio class="form-check-input" type="radio" name="collar_type" id="collar_type2"
                    value="mandarin collar" [(ngModel)]="form.collar_type"  #collar_type="ngModel"
                  />
                      <span></span><img src="assets/36.png">
                      <p><b>MANDARIN COLLAR</b></p>
                  </label>
              </div>
          </div>
      </div>
      </div>
      <div class="row" >
        <div class="col-md-12 shape">
            <div class="col-md-3 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="placket1">
                      <input mdbRadio class="form-check-input" type="radio" name="placket" id="placket1"
                      value="forward point" [(ngModel)]="form.placket"  #placket="ngModel"/>
                        <span></span><img src="assets/37.png">
                        <p><b>FORWARD POINT</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="placket2">
                      <input mdbRadio class="form-check-input" type="radio" name="placket" id="placket2"
                      value="plain placket" [(ngModel)]="form.placket"  #placket="ngModel"/>
                        <span></span><img src="assets/38.png">
                        <p><b>PLAIN PLACKET</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="placket3">
                      <input mdbRadio class="form-check-input" type="radio" name="placket" id="placket3"
                      value="box placket" [(ngModel)]="form.placket"  #placket="ngModel"
                    />
                        <span></span><img src="assets/39.png">
                        <p><b>BOX PLACKET</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="placket4">
                      <input mdbRadio class="form-check-input" type="radio" name="placket" id="placket4"
                      value="concealed" [(ngModel)]="form.placket"  #placket="ngModel"
                    />
                        <span></span><img src="assets/40.png">
                        <p><b>CONCEALED</b></p>
                    </label>
                </div>
            </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-5 shape">
            <div class="col-md-4 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="cuff_type1">
                      <input mdbRadio class="form-check-input" type="radio" name="cuff_type" id="cuff_type1"
                      value="square cuff 2buttons" [(ngModel)]="form.cuff_type"  #cuff_type="ngModel"
                    />
                        <span></span><img src="assets/41.png">
                        <p><b>SQUARE CUFF</b></p>
                        <p><b>2 BUTTONS</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-4 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="cuff_type2">
                      <input mdbRadio class="form-check-input" type="radio" name="cuff_type" id="cuff_type2"
                      value="round cuff 2buttons" [(ngModel)]="form.cuff_type"  #cuff_type="ngModel"
                    />
                        <span></span><img src="assets/41.png">
                        <p><b>ROUND CUFF </b></p>
                        <p><b>2 BUTTONS</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-4 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="cuff_type3">
                      <input mdbRadio class="form-check-input" type="radio" name="cuff_type" id="cuff_type3"
                      value="french cuff" [(ngModel)]="form.cuff_type"  #cuff_type="ngModel"
                    />
                        <span></span><img src="assets/42.png">
                        <p><b>FRENCH CUFF</b></p>
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-7 shape">
            <div class="col-md-3 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="other1">
                      <input mdbRadio class="form-check-input" type="radio" name="other" id="other1"
                      value="np pocket" [(ngModel)]="form.other"  #other="ngModel"
                    /><span></span>
                        <p class="noimage"></p>
                        <p style="margin-top: -68px;"><b>NO POCKET</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="other2">
                      <input mdbRadio class="form-check-input" type="radio" name="other" id="other2"
                      value="apple cut" [(ngModel)]="form.other"  #other="ngModel"
                    /><span></span>
                        <p class="noimage"></p>
                        <p style="margin-top: -68px;"><b>APPLE CUT</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="other3">
                      <input mdbRadio class="form-check-input" type="radio" name="other" id="other3"
                      value="round" [(ngModel)]="form.other"  #other="ngModel"
                    /><span></span>
                        <p class="noimage"></p>
                        <p style="margin-top: -68px;"><b>ROUND</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="other4">
                      <input mdbRadio class="form-check-input" type="radio" name="other" id="other4"
                      value="side slip" [(ngModel)]="form.other"  #other="ngModel"
                    /><span></span>
                        <p class="noimage"></p>
                        <p style="margin-top: -68px;"><b>SIDE SLIP</b></p>
                    </label>
                </div>
            </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-5 shape">
            <div class="col-md-6 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="shape_type1">
                      <input mdbRadio class="form-check-input" type="radio" name="shape_type" id="shape_type1"
                    value="v-shape" [(ngModel)]="form.shape_type"  #shape_type="ngModel"
                    />
                        <span></span><img src="assets/43.png">
                        <p><b>V-SHAPE</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-6 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="shape_type2">
                      <input mdbRadio class="form-check-input" type="radio" name="shape_type" id="shape_type2"
                    value="round shape" [(ngModel)]="form.shape_type"  #shape_type="ngModel"
                    />
                        <span></span><img src="assets/44.png">
                        <p><b>ROUND SHAPE</b></p>
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-7 shape">
            <div class="col-md-4 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="fit_type1">
                      <input mdbRadio class="form-check-input" type="radio" name="fit_type" id="fit_type1"
                      value="slim fit" [(ngModel)]="form.fit_type"  #fit_type="ngModel"
                    /><span></span>
                        <p class="noimage"></p>
                        <p style="margin-top: -68px;"><b>SLIM FIT</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-4 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="fit_type2">
                      <input mdbRadio class="form-check-input" type="radio" name="fit_type" id="fit_type2"
                      value="medium fit" [(ngModel)]="form.fit_type"  #fit_type="ngModel"
                    /><span></span>
                        <p class="noimage"></p>
                        <p style="margin-top: -68px;"><b>MEDIUM FIT</b></p>
                    </label>
                </div>
            </div>
            <div class="col-md-4 shapes">
                <div class="form-check form-check-inline">

                    <label class="form-check-label rdiobox" for="fit_type3">
                      <input mdbRadio class="form-check-input" type="radio" name="fit_type" id="fit_type3"
                      value="regular fit" [(ngModel)]="form.fit_type"  #fit_type="ngModel"
                    /><span></span>
                        <p class="noimage"></p>
                        <p style="margin-top: -68px;"><b>REGULAR FIT</b></p>
                    </label>
                </div>
            </div>



        </div>
      </div>

  <div class="row mt-3">
    <div class="col-md-12">
        <div class="form-group">
            <label for="remark" class="form-label">Remark</label>
            <div class="mdisplay"> {{ form.remark}} </div>
            <!-- <input type="text" class="form-control" name="remark" [(ngModel)]="form.remark" #remark="ngModel"> -->
            <!-- <div class="alert alert-danger mt-2" role="alert" *ngIf="title.errors && measurment.submitted">
                Please enter Measurement Name
            </div> -->
        </div>
    </div>
</div>

</form>
</div>


