
@media(min-width:501px) and (max-width:768px){
  
 
.az-content,.container,.advancedSearch{
  margin: 0;
  padding: 0;
}
  .tab-2{
    width: 80%;
    margin: 0 auto;
  }
  .forSearchFilter{
    width: 80%;
    margin: 0 auto;
  }

   #creatpage{
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
   }
  
  
}

/* .forActions{
  text-align: right;
  padding-right: 1rem;
}

th.forActions{
  padding-right: 2.3rem !important;
}
table{
width: 100%;
}

.mat-column-name {
 word-wrap: break-word !important;
 white-space: unset !important;
 flex: 0 0 8% !important;
 width: 8% !important;
 overflow-wrap: break-word;
 word-wrap: break-word;
 word-break: break-word;
 -ms-hyphens: auto;
 -moz-hyphens: auto;
 -webkit-hyphens: auto;
 hyphens: auto;
}

.mat-column-email {
 word-wrap: break-word !important;
 white-space: unset !important;
 flex: 0 0 12 !important;
 width: 12% !important;
 overflow-wrap: break-word;
 word-wrap: break-word;

 word-break: break-word;

 -ms-hyphens: auto;
 -moz-hyphens: auto;
 -webkit-hyphens: auto;
 hyphens: auto;
}

.mat-column-phone{
 word-wrap: break-word !important;
 white-space: unset !important;
 flex: 0 0 10% !important;
 width: 10% !important;
 overflow-wrap: break-word;
 word-wrap: break-word;

 word-break: break-word;

 -ms-hyphens: auto;
 -moz-hyphens: auto;
 -webkit-hyphens: auto;
 hyphens: auto;
}
.mat-column-profession{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
 }
 .mat-column-lifestyle{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
 }



.mat-column-userActivity {
 word-wrap: break-word !important;
 white-space: unset !important;
 flex: 0 0 10% !important;
 width: 10% !important;
 overflow-wrap: break-word;
 word-wrap: break-word;

 word-break: break-word;

 -ms-hyphens: auto;
 -moz-hyphens: auto;
 -webkit-hyphens: auto;
 hyphens: auto;
} */
